.container {
	margin: 30px 50px;
	background: rgb(243, 243, 243);
	padding: 20px;
	min-width: 725px;
}

.container--header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	color: #3b505f;
}